<header class="col-lg-4 h100">
    <h3 class="header-title">F. <span>Nebulous</span> Exists</h3>
    <h5 class="header-subtitle">Producer. Arist. Existing.</h5>
    <!-- Make Bold -->
    <p class='definition'><span class="font-weight-bold">e·phem·er·al</span>: lasting a very short time.</p>
    <p class='header-about'>{{ site.description }}</p>
    
    <!-- social media -->
    <h5 class="mb-3"><span class="font-weight-bold">@fnebex</span> on the socials</h5>
    <div class="social-media-wrapper">

        <p class="social-media mr-2"><a href="https://twitter.com/FNebEx" class="social-media-links" target="_blank"><i class="fab fa-twitter mr-2 fa-2x"></i></a></p>
        <p class="social-media mr-2"><a href="https://www.instagram.com/fnebex/" class="social-media-links" target="_blank"><i class="fab fa-instagram mr-2 fa-2x"></i></a></p>
        <p class="social-media mr-2"><a href="https://soundcloud.com/fnebex" class="social-media-links" target="_blank"><i class="fab fa-soundcloud mr-2 fa-2x"></i></a></p>
        <p class="social-media mr-2"><a href="https://fnebex.bandcamp.com/releases" class="social-media-links" target="_blank"><i class="fab fa-bandcamp mr-2 fa-2x"></i></a></p>
    </div>
</header>